<div class="form-style-5" style="text-align:center">
  <div>
      <a [routerLink]="['/dashboard']">Browse</a>
      <a [routerLink]="['/my_listings']">My Listings</a>
      <a [routerLink]="['/']" (click)="logout()" class="inline">Log Off</a>
  </div>
</div>
<div *ngFor="let item of items; let idx = index" class="form-style-5">
  <p>Title: 
    {{ item.title }}</p>
  <p>Description: 
    {{ item.description }}</p>
  <p>Price: 
    ${{ item.price }}</p>
  <p>Location: 
    {{ item.location }}</p>
  <input type="submit" value="Delete" *ngIf="item.user._id == currentUser._id" (click)="destroyItem(item._id, idx)">
  <input type="submit" value="Email me" *ngIf="item.user._id != currentUser._id" (click)="alertUserInfo(idx)">
  <input type="submit" value="Text me" *ngIf="item.user._id != currentUser._id" (click)="textUserInfo(item.user.phone)">
  <div *ngIf="item.display">
    <h4>{{ item.user.first_name }}</h4>
    <h4>{{ item.user.email }}</h4>
    <input type="submit" value="Hide" (click)="hideUserInfo(idx)">
  </div>
</div>