<div class="form-style-5" style="text-align:center">
  <div>
      <a [routerLink]="['/dashboard']">Browse</a>
      <a [routerLink]="['/my_listings']">My Listings</a>
      <a [routerLink]="['/']" (click)="logout()" class="inline">Log Off</a>
  </div>
</div>
<span *ngFor="let error of item_error">{{ error }}</span>
<div *ngFor="let item of items; let idx = index" class="form-style-5">
  <div>
    <img [src]="item.url" *ngIf="item.url" (error)="item.url = default">
    <img [src]="default" *ngIf="!item.url">
    <div class='browse_display'>
      <p>Title: {{ item.title }}</p>
      <p>Description: {{ item.description }}</p>
      <p>Location: {{ item.location }}</p>
      <p>Price: ${{ item.price }}</p>
      <span *ngFor="let error of destroy_error">{{ error }}</span>
    </div> 
  </div>
  <input type="submit" value="Delete" *ngIf="item.user._id == currentUser._id" (click)="destroyItem(item._id, idx)">
  <input type="submit" value="Contact" *ngIf="item.user._id != currentUser._id" (click)="alertUserInfo(idx)">
  <div *ngIf="item.display">
    <h4>{{ item.user.first_name }}</h4>
    <h4>{{ item.user.email }}</h4>
    <input type="submit" value="Hide" (click)="hideUserInfo(idx)">
  </div>
</div>