<div>
    <a [routerLink]="['/dashboard']">Browse</a>
    <a [routerLink]="['/my_listings']">My Listings</a>
    <a [routerLink]="['/']" (click)="logout()" class="inline">Log Off</a>
</div>
<div *ngFor="let item of items; let idx = index">
  <p>{{ item.title}}</p>
  <p>{{ item.description }}</p>
  <p>{{ item.price }}</p>
  <p>{{ item.location }}</p>
  <button *ngIf="item.user._id == currentUser._id" (click)="destroyItem(item._id, idx)">Delete</button>
  <button *ngIf="item.user._id != currentUser._id" (click)="alertUserInfo(idx)">Contact</button>
  <div *ngIf="item.display">
    <h4>{{ item.user.name }}</h4>
    <h4>{{ item.user.email }}</h4>
    <button (click)="hideUserInfo(idx)">Hide</button>
  </div>
</div>