<div class="form-style-5">
  <a [routerLink]="['/dashboard']">Browse</a>
  <a [routerLink]="['/my_listings']">My Listings</a>
  <a [routerLink]="['/']" (click)="logout()" class="inline">Log Off</a>
</div>
<div class="form-style-5">
  <h1>Create New Item</h1>
  <form (submit)="createItem(newItem)" #itemForm="ngForm">
    <div>
      <p>Title
      <input type="text" name="title" [(ngModel)]="newItem.title">
      </p>
    </div>
    <div>
      <p>Description
      <input type="text" name="description" [(ngModel)]="newItem.description">
      </p>
    </div>
    <div>
      <p>Location
      <input type="text" name="location" [(ngModel)]="newItem.location">
      </p>
    </div>
    <div>
      <p>Price $
        <input type="number" min="1" name="price" [(ngModel)]="newItem.price">
      </p>
    </div>
    <input type="submit" value="Submit">
  </form>
</div>
<div class="form-style-5">
  <h1>My Listings</h1>
  <div *ngFor="let item of currentUser.items; let idx = index">
    <form (submit)="updateItem(item)">
      <div>
        <p>Title
        <input type="text" name="title" [(ngModel)]="item.title">
        </p>
      </div>
      <div>
        <p>Description
        <input type="text" name="description" [(ngModel)]="item.description">
        </p>
      </div>
      <div>
        <p>Price
        <input type="number" min="1" name="price" [(ngModel)]="item.price">
        </p>
      </div>
      <div>
        <p>Location
        <input type="text" name="location" [(ngModel)]="item.location">
        </p>
      </div>
      <input type="submit" value="Update">
      <input type="submit" value="Delete" (click)="destroyItem(item._id, idx)">
    </form>
  </div>
</div>