<div class="form-style-5">
  <h1>Login</h1>
  <form (submit)="login(loginUser); loginForm.reset()" #loginForm="ngForm">
    <div>
      <p>Email
      <input type="text" name="email" [(ngModel)]="loginUser.email"
      required>
        <span *ngIf="email.invalid && (email.dirty || email.touched)">
          <span *ngIf="email.errors.required">Email is required.</span>
        </span>
      </p>
    </div>
    <div>
      <p>Password
      <input type="password" name="password" [(ngModel)]="loginUser.password"
      required>
      </p>
    </div>
    <input type="submit" name="submit" [disabled] = "loginForm.invalid">
    <span *ngFor="let error of loginErrors">{{ error }}</span>
  </form>
</div>
<div class="form-style-5">
  <h1>Registration</h1>
  <form (submit)="createUser(newUser); registerForm.reset()" #registerForm="ngForm">
    <div>
      <p>First Name:
        <input type="text" name="firstName" [(ngModel)]="newUser.first_name"
        required
        minlength="2"
        #firstName="ngModel">
        <span *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            <span *ngIf="firstName.errors.required">First Name is required.</span>
            <span *ngIf="firstName.errors.minlength">First Name must be at least 2 characters long.</span>
        </span>
      </p>
    </div>
    <div>
      <p>Last Name:
        <input type="text" name="lastName" [(ngModel)]="newUser.last_name"
        required
        minlength="2"
        #lastName="ngModel">
        <span *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            <span *ngIf="lastName.errors.required">Last Name is required.</span>
            <span *ngIf="lastName.errors.minlength">Last Name must be at least 2 characters long.</span>
        </span>
      </p>
    </div>
    <div>
      <p>Email:
        <input type="email" name="email" [(ngModel)]="newUser.email"
        required
        email
        #email="ngModel">
        <span *ngIf="email.invalid && (email.dirty || email.touched)">
            <span *ngIf="email.errors.required">Email is required.</span>
            <span *ngIf="email.errors.email">Email must be valid.</span>
        </span>
      </p>
    </div>
    <div>
      <p>Phone:
        <input type="text" name="phone" [(ngModel)]="newUser.phone"
        required
        minlength="2"
        #phone="ngModel">
        <span *ngIf="phone.invalid && (phone.dirty || phone.touched)">
            <span *ngIf="phone.errors.required">Phone is required.</span>
            <span *ngIf="phone.errors.minlength">Phone must be at least 2 characters long.</span>
        </span>
      </p>
    </div>
    <div>
      <p>Password:
        <input type="password" name="password" [(ngModel)]="newUser.password"
        required
        minlength="8"
        maxlength="24"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,24}"
        #password="ngModel">
        <span *ngIf="password.invalid && (password.dirty || password.touched)">
            <span *ngIf="password.errors.required">Password is required.</span>
            <span *ngIf="password.errors.pattern">Must be at least 8 characters long, contain 1 capital, 1 number and a special character</span>  
        </span>
      </p>
    </div>
    <div>
      <p>Confirm Password:
        <input type="password" name="confirm" [(ngModel)]="newUser.confirm"
        required
        #confirm="ngModel">
        <span *ngIf="newUser.password != newUser.confirm && (confirm.dirty || confirm.touched)">
            Confirm password needs to match the password. 
        </span>
      </p>
    </div>
    <input type="submit" name="submit" [disabled] = "registerForm.invalid">
  </form>
</div>
